@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but maintain scroll functionality */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* WebKit browsers (Chrome, Safari, etc.) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Smooth Scrolling Styles */
html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

/* Custom scroll speed */
.scroll-smooth {
    scroll-behavior: smooth;
    transition: all 2.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Enhanced Gradient Animation */
@keyframes gradient {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.animate-gradient {
    background: linear-gradient(
        270deg,
        #dbeafe,
        /* blue-100 */ #f3e8ff,
        /* purple-100 */ #ffe4e6,
        /* pink-100 */ #e2e8f0,
        /* slate-200 */ #f1f5f9,
        /* slate-100 */ #dbeafe /* blue-100 */
    );
    background-size: 300% 100%;
    animation: gradient 15s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    transition: all 0.5s ease-in-out;
}
