@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but maintain scroll functionality */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* WebKit browsers (Chrome, Safari, etc.) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Smooth Scrolling Styles */
html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

/* Custom scroll speed */
.scroll-smooth {
    scroll-behavior: smooth;
    transition: all 4s cubic-bezier(0.4, 0, 0.2, 1);
}
